:root {
    background-color: rgb(231, 214, 193);
}

/* Remember that the *{ means all elements will have those components */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-family:sans-serif;

}

h1 {
    text-align: center;
    line-height: 400px;
    font-size: 90px;
}

h2 {
    text-align: center;
    font-size: 50px;
    line-height: 0px;
}

footer {
    text-align: center;
    margin-top: 550px;
    font-size: 20px;
    line-height: 20px;
}



/* .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    padding: 2rem;
}

footer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    padding: 2rem;
} 



*/