:root {
    background-color: rgb(231, 214, 193);
}

/* Remember that the *{ means all elements will have those components */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-family:sans-serif;

}

h1 {
    display: block;
    font-family: sans-serif;
    font-size: 20px;;
    color: black;
    margin-bottom:
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    padding: 2rem;
}

footer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    padding: 2rem;
}